<header id="header" class="d-flex align-items-center">
  <div class="container d-flex flex-column align-items-center">

    <h1>Pandemie Proof</h1>
    <h2>Kun jij de pandemie aan?</h2>
    
<br><br>
    <div class="subscribe">
      <h4>Vink de checklist af en check jezelf!</h4>
      <span>Zoveel mensen gingen je voor: <b>0</b></span>
      
    </div>
  </div>
</header><!-- End #header -->

<main id="main">

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Waarom?
        </button>
      </div>


      <div class="collapse" id="collapseExample">
        <div class="card card-body"  style="background-color: royalblue;">
          <div class="row mt-2">
            <div class="col-lg-4 col-md-6 icon-box">
              <h4 class="title"><a href="">Samen tegen<br>corona</a></h4>
              <div class="icon"><i class="fa fa-adjust"></i></div><br>
              <p class="description">Dit is een lastige tijd en we willen die graag zo goed mogelijk doorkomen...</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
              <h4 class="title"><a href="">Gezond verstand<br>lijkt zoek</a></h4>
              <div class="icon"><i class="fa fa-adjust"></i></div><br>
              <p class="description">Maar dat is niet zo! Jammer genoeg zie je online genoeg schreeuwlelijkers die allemaal gelijk hebben. Mensen die niet hun mening willen opdringen reageren niet op alles en daardoor kan het lijken alsof</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
              <h4 class="title"><a href="">Meer goed dan<br>kwaad</a></h4>
              <div class="icon"><i class="fa fa-adjust"></i></div><br>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
          </div></div>
      </div>

      

     
      

    </div>
  </section><!-- End About Us Section -->

  <div class="container" style="padding-top: 30px;">
    <div class="text-center">
    <h1>Checklist</h1></div><br><br>

        <div class="row justify-content-center" *ngFor="let check of checks" style="margin-top: 15px;">
          
        
          <div class="col-4">
            <input type="checkbox" class="pull-right" />
          </div>
          <div class="col-8" style="margin-top: auto;margin-bottom: auto;">
            <label>{{check}}</label>
          </div>
          
          
        </div>
       

    
  </div>

  <br><br><br><br><br><br><br><br><br><br>
 

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <div class="copyright">
<!--       Copyright is zo 2020. Gemaakt door <a href="https://www.edease.nl" target="_blanc">Edease</a> met de beste bedoelingen.
 -->      Copyright is zo 2020. Gemaakt door iemand met de beste bedoelingen.

    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/maundy-free-coming-soon-bootstrap-theme/ -->
      
    </div>
  </div>
</footer><!-- End #footer -->
