<header id="header" class="d-flex align-items-center">
  <div class="container d-flex flex-column align-items-center">
<br>
    <h1>Pandemie Proof</h1>
    <h2 style="color:#fff200">Kun jij de pandemie aan?</h2>
  </div>
</header><!-- End #header -->
<br><br>

  <div class="container">
<div class="section-title">
  <button class="btn btn-lg btn-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Wat is deze?
  </button>
</div>


<div class="collapse text-center" id="collapseExample">
  <div class="card card-body"  style="background-color: royalblue;"><br>
    <div class="row mt-2">
      <div class="col-lg-4 col-md-6 icon-box" style="padding-left: 40px;padding-right: 40px;">
        <h4 class="title" style="color:navy">Tegengeluid</h4>
        <div class="icon" style="color:navy"><i class="fa fa-adjust fa-2x"></i></div><br>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut velit vel mauris ullamcorper tempus.</p><br>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" style="padding-left: 40px;padding-right: 40px;">
        <h4 class="title" style="color:navy">Tegengeluid</h4>
        <div class="icon" style="color:navy"><i class="fa fa-adjust fa-2x"></i></div><br>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut velit vel mauris ullamcorper tempus.</p><br>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" style="padding-left: 40px;padding-right: 40px;">
        <h4 class="title" style="color:navy">Tegengeluid</h4>
        <div class="icon" style="color:navy"><i class="fa fa-adjust fa-2x"></i></div><br>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut velit vel mauris ullamcorper tempus.</p><br>
      </div>
    </div><br></div>
</div></div><br><br><br><br><br><br><br><br>
<br>
    <div class="subscribe text-center">
      <h4>Vink de checklist af en check jezelf!</h4>
      <span>Zoveel mensen gingen je voor: <b style="font-size: larger;">0</b></span>
      
    </div>

<main id="main">


  <div class="container" style="padding-top: 30px;-left:100px;max-width: ;" >
    
    <div class="text-center">
    <h4 style="color:#fff200">Checklist</h4></div><br>
    <div class="card" style="background-color: #0d2c72;border-radius: 75px;">
      <div class="card-body" style="padding-bottom:100px;padding-top: 40px;">
        <br><br>
        <div class="row" *ngFor="let check of checks" style="margin-top: 25px;">
          <div class="col-3">
            <input type="checkbox" class="pull-right" />
          </div>
          <div class="col-8" style="margin-top: auto;margin-bottom: auto; font-size:large">
            <p>{{check}}</p>
          </div>
          
          
        </div><br><br>
      </div>

      </div>
  </div>

  <br><br><br><br><br><br><br><br><br><br>
 

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <div class="copyright">
<!--       Copyright is zo 2020. Gemaakt door <a href="https://www.edease.nl" target="_blanc">Edease</a> met de beste bedoelingen.
 -->      Copyright is zo 2020.<br>Gemaakt door iemand met de beste bedoelingen.

    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/maundy-free-coming-soon-bootstrap-theme/ -->
      
    </div>
  </div>
</footer><!-- End #footer -->
