/* You can add global styles to this file, and also import other style files */
body {
   font-family: "Open Sans", sans-serif;
   color: #fff;
   background: url("assets/img/bg.jpg") top center no-repeat;
   background-size: cover;
   position: relative;
 }